<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WCellDatabaseImportSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WCellDatabaseImportSystem.Properties.Settings>
            <setting name="MysqlHost" serializeAs="String">
                <value />
            </setting>
            <setting name="MysqlUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="MysqlPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MysqlDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="UDBDir" serializeAs="String">
                <value />
            </setting>
            <setting name="UDBMainDbFolderName" serializeAs="String">
                <value>\Full_DB</value>
            </setting>
            <setting name="UDBUpdatesFolder" serializeAs="String">
                <value>\Updates</value>
            </setting>
        </WCellDatabaseImportSystem.Properties.Settings>
    </userSettings>
</configuration>